.contents__main__log{"data-comment-id": "#{comment.id}"}
  .contents__main__log--user_name
    = comment.user.name
  .contents__main__log--time
    = comment.created_at.strftime("%Y/%m/%d %H:%M")
  .contents__main__log--comment
    - if comment.content.present?
      = comment.content
    = image_tag comment.image.url, class: 'contents__main__log--comment__image' if comment.image.present?