.header
  .header--log
    グループを作成しました

.contents
  .contents__sidebar
    .contents__sidebar__top
      .contents__sidebar__top--user_name
        = current_user.name
      .contents__sidebar__top--icon
        = link_to new_group_path do
          = fa_icon 'edit'
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog'
    .contents__sidebar__bottom
      - current_user.groups.each do |group|
        .contents__sidebar__bottom__group
          = link_to group_comments_path(group) do
            .contents__sidebar__bottom__group--group_name
              = group.name
            .contents__sidebar__bottom__group--comment
              = group.show_last_comment
  .contents__main
    .contents__main__top
      .contents__main__top--group_name
        = @group.name
      .contents__main__top--btn
        Edit
      .contents__main__top--member
        Member :
        - @group.users.each do |member|
          #{member.name}
    .contents__main__log
      = render @comments

    .contents__main__bottom
      .contents__main__bottom--form
        = form_for [@group, @comment] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .contents__main__bottom--form--icon
            = f.label :image, class: 'upload-icon' do
              %i.fa.fa-picture-o.upload-icon
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'
