.contents__sidebar
  .contents__sidebar__top
    .contents__sidebar__top--user_name
      = current_user.name
    .contents__sidebar__top--icon
      = link_to new_group_path do
        = fa_icon 'edit'
      = link_to edit_user_path(current_user) do
        = fa_icon 'cog'
  .contents__sidebar__bottom
    - current_user.groups.each do |group|
      .contents__sidebar__bottom__group
        = link_to group_comments_path(group) do, class: "link_underline"
          .contents__sidebar__bottom__group--group_name
            = group.name
          .contents__sidebar__bottom__group--comment
            = group.show_last_comment